In [2]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
ratings =pd.read_csv("C:\\Users\\Beyrylle\\Downloads\\recommender-tutorial-master\\recommender-tutorial-master\\data\\ratings.csv")
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
movies = pd.read_csv("C:\\Users\\Beyrylle\\Downloads\\recommender-tutorial-master\\recommender-tutorial-master\\data\\movies.csv")
movies.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [5]:
n_ratings=len(ratings)
n_movies=ratings['movieId'].nunique()
n_users = ratings['userId'].nunique()

In [6]:
print(f'number of ratings: {n_ratings}')
print(f'number of movieId: {n_movies}')
print(f'number of userId: {n_users}')
print(f'Average number of ratings per user: {round(n_ratings/n_users, 2)}')
print(f'Average number of ratings per movie: {round(n_ratings/n_movies, 2)}')

number of ratings: 100836
number of movieId: 9724
number of userId: 610
Average number of ratings per user: 165.3
Average number of ratings per movie: 10.37

In [9]:
user_freq = ratings[['userId','movieId']].groupby('userId').count().reset_index()
user_freq.columns = ['useId','n_ratings']
user_freq.head()

   useId  n_ratings
0      1        232
1      2         29
2      3         39
3      4        216
4      5         44

In [11]:
mean_n_ratings= user_freq['n_ratings'].mean()
print(f'mean number of ratings for a given user:{mean_n_ratings:.2f}')

mean number of ratings for a given user:165.30